@model IEnumerable<BibliotecaWebApplication.Models.AutorLibro>

@{
    ViewData["Title"] = "Relaciones Autor-Libro";
}

<h1>Relaciones Autor-Libro</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Relación</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Autor</th>
            <th>Libro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Autor.Nombres
                </td>
                <td>
                    @item.Libro.Titulo
                </td>
                <td>
                    <a asp-action="Edit" asp-route-autorId="@item.AutorId" asp-route-libroId="@item.LibroId">Editar</a>
                    <a asp-action="Delete" asp-route-autorId="@item.AutorId" asp-route-libroId="@item.LibroId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>