@model IEnumerable<BibliotecaWebApplication.Models.AutorLibro>

@{
    ViewData["Title"] = "Relaciones Autor - Libro";
}

<h1>Relaciones Autor - Libro</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Asignación</a>
</p>

<!-- Tabla con DataTables -->
<table id="relacionesTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Autor (Nombre y Apellidos)</th>
            <th>Libro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Autor.Nombres) @Html.DisplayFor(modelItem => item.Autor.Apellidos)</td>
                <td>@Html.DisplayFor(modelItem => item.Libro.Titulo)</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { autorId = item.AutorId, libroId = item.LibroId }, new { @class = "btn btn-sm btn-warning" })
                    @Html.ActionLink("Detalles", "Details", new { autorId = item.AutorId, libroId = item.LibroId }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Eliminar", "Delete", new { autorId = item.AutorId, libroId = item.LibroId }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <script>
        $(document).ready(function () {
            $('#relacionesTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json' // Traducción al español
                },
                paging: true,       // Activar paginación
                searching: true,    // Activar barra de búsqueda
                ordering: true      // Activar ordenamiento
            });
        });
    </script>
}
