@model BibliotecaWebApplication.Models.Libro

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1>Detalles del Libro</h1>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.ISBN)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.ISBN)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Titulo)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Titulo)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.NumeroPaginas)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.NumeroPaginas)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-action="Edit" asp-route-id="@Model.LibroId" class="btn btn-primary">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>